<MudDialog Class="heightdialog">
	<DialogContent>


		<MudContainer Fixed="true">
			<MudText Typo="Typo.h4" Class="mb-3 heading">
				Privacy <span>Policy</span>
			</MudText>
			<MudItem Class="text-align">
				<p>
					We value the trust you place in us and recognize the importance of secure transactions and information privacy.
					This Privacy Policy describes how FarmzToFamiliez and its affiliates (collectively “F2F, we, our, us”) collect,
					use.
				</p>
				<p>
					While you can browse sections of the Platform without the need of sharing any information with us, however, please note we do not offer any product or service under this Platform outside India.
					By visiting this Platform, providing your information or availing out product/service, you expressly agree to be bound by the terms and conditions of this Privacy Policy and the applicable service/product terms and conditions,
					and agree to be governed by the laws of India including but not limited to the laws applicable to data protection and privacy.
					If you do not agree please do not use or access our Platform.
				</p>

				<MudText Typo="Typo.subtitle2">Collection of Your Information</MudText>

				<p>
					When you use our Platform, we collect and store your information which is provided by you from time to time. In general, you can browse the Platform without telling us who you are or revealing any personal information about yourself. Once you give us your personal information, you are not anonymous to us. Where possible, we indicate which fields are required and which fields are optional. You always have the option to not provide information by choosing not to use a particular service, product or feature on the Platform.
				</p>

				<p>We may track your buying behavior, preferences, and other information that you choose to provide on our Platform. We use this information to do internal research on our users' demographics, interests, and behavior to better understand, protect and serve our users. This information is compiled and analyzed on an aggregated basis. This information may include the URL that you just came from (whether this URL is on our Platform or not), which URL you next go to (whether this URL is on our Platform or not), your computer browser information, and your IP address.</p>

				<p>We may collect personal information (such as email address, delivery address, name, phone number, credit card/debit card and other payment instrument details) from you when you set up an account or transact with us or participate in any event or contest. While you can browse some sections of our Platform without being a registered member, certain activities (such as placing an order or consuming our online content or services) do require registration. We use your contact information to send you offers based on your previous orders and your interests.</p>

				<p>If you choose to post messages on our message boards, chat rooms or other message areas or leave feedback on the Platform or the social media handles maintained by us or if you use voice commands or virtual try and buy or similar features to shop on the Platform, we will collect that information you provide to us. We retain this information as necessary to resolve disputes, provide customer support, troubleshoot problems or for internal research and analysis as permitted by law.</p>

				<p>If you send us personal correspondence, such as emails or letters, or if other users or third parties send us correspondence about your activities or postings on the Platform, we may collect such information into a file specific to you.</p>

				<MudText Typo="Typo.subtitle2">
					Use of Demographic / Profile Data / Your Information
				</MudText>

				<p>We use your personal information to provide the product and services you request. To the extent we use your personal information to market to you, we will provide you the ability to opt-out of such uses. We use your personal information in handling and fulfilling orders; enhancing customer experience; resolve disputes; troubleshoot problems; help promote a safe service; collect money; measure consumer interest in our products and services; inform you about online and offline offers, products, services, and updates; customize and enhance your experience; detect and protect us against error, fraud and other criminal activity; enforce our terms and conditions; and as otherwise described to you at the time of collection of information.</p>

				<p>In our efforts to continually improve our product and service offerings, we and our affiliates collect and analyze demographic and profile data about our users' activity on our Platform. We identify and use your IP address to help diagnose problems with our server, and to administer our Platform.</p>

				<MudText Typo="Typo.subtitle2">Cookies</MudText>

				<p>We use only session cookies for authentication and no 3rd party cookies.</p>

				<p>We use cookies on our website to enhance your user experience and provide personalized content. Cookies are small text files that are stored on your device when you visit our site. The information collected through cookies is used solely for the purpose of tracking your session and ensuring a seamless browsing experience. These cookies are removed automatically when you close your browser. We want to assure you that we do not use any tracking cookies or third-party cookies on our website. The information collected through our cookies is not shared with third parties, and your privacy is of utmost importance to us.</p>

				<MudText Typo="Typo.subtitle2">Sharing of personal information</MudText>

				<p>We do not sell, rent, or otherwise disclose your personal information to third parties for marketing or advertising purposes. Your data is strictly used for the purposes of order fulfillment, customer support, and legal compliance.</p>

				<MudText Typo="Typo.subtitle2">Links to Other Sites</MudText>

				<p>Our Platform may provide links to other websites or applications that may collect personal information about you. We are not responsible for the privacy practices or the content of those linked websites.</p>

				<MudText Typo="Typo.subtitle2">Security Precautions</MudText>

				<p>We maintain reasonable physical, electronic and procedural safeguards to protect your information. Whenever you access your account information, we offer the use of a secure server. Once your information is in our possession, we adhere to our security guidelines to protect it against unauthorized access. However, by using the Platform, the users accept the inherent security implications of data transmission over the internet and the World Wide Web which cannot always be guaranteed as completely secure, and therefore, there would always remain certain inherent risks regarding use of the Platform. Users are responsible for ensuring the protection of login and password records for their account.</p>

				<MudText Typo="Typo.subtitle2">Children Information</MudText>

				<p>Use of our Platform is available only to persons who can form a legally binding contract under the Indian Contract Act, 1872. We do not knowingly solicit or collect personal information from children under the age of 18 years. If you have shared any personal information of children under the age of 18 years, you represent that you have the authority to do so and permit us to use the information in accordance with this Privacy Policy.</p>

				<MudText Typo="Typo.subtitle2">Data Retention</MudText>

				<p>We retain your personal information in accordance with applicable laws, for a period no longer than is required for the purpose for which it was collected or as required under any applicable law. However, we may retain data related to you if we believe it may be necessary to prevent fraud or future abuse, to enable FarmztoFamiliez to exercise its legal rights and/or defend against legal claims or if required by law or for other legitimate purposes. We may continue to retain your data in anonymised form for analytical and research purposes.</p>

				<MudText Typo="Typo.subtitle2">Your Rights</MudText>

				<p>We take every reasonable step to ensure that your personal information that we process is accurate and, where necessary, kept up to date, and any of your personal information that we process that you inform us is inaccurate (having regard to the purposes for which they are processed) is erased or rectified. You may access, correct, and update your personal information directly through the functionalities provided on the Platform. You may delete certain non-mandatory information by logging into our website and visiting Profile and Settings sections. You can also write to us at the contact information provided below to assist you with these requests.</p>

				<MudText Typo="Typo.subtitle2">Your Consent</MudText>

				<p>By visiting our Platform or by providing your information, you consent to the collection, use, storage, disclosure and otherwise processing of your information (including sensitive personal information) on the Platform in accordance with this Privacy Policy. If you disclose to us any personal information relating to other people, you represent that you have the authority to do so and to permit us to use the information in accordance with this Privacy Policy.</p>

				<MudText Typo="Typo.subtitle2">Changes to this Privacy Policy</MudText>

				<p>Please check our Privacy Policy periodically for changes. We may update this Privacy Policy to reflect changes to our information practices. We will alert you to significant changes by posting the date our policy got last updated, placing a notice on our Platform, or by sending you an email when we are required to do so by applicable law.</p>

				<MudText Typo="Typo.subtitle2">Customer Support</MudText>

				<p>If you have a query, concern, or complaint in relation to collection or usage of your personal information under this Privacy Policy, please contact us at</p> <MudLink> admin@farmztofamiliez.com</MudLink>

				<p>You can reach our customer support team to address any of your queries or complaints related to product and services by any of the given methods.</p>
			</MudItem>



			<MudText Typo="Typo.body2">
				Email - <MudLink>admin@farmztofamiliez.com</MudLink>
			</MudText>
			<MudText Typo="Typo.body2">
				Call - <MudLink>63622-22740</MudLink>
			</MudText>
			<MudText Typo="Typo.body2">
				WhatsApp - <MudLink>+91-70222-37584</MudLink>
			</MudText>
			<MudButton Class="btn-right my-3" OnClick="Cancel">Ok</MudButton>
		</MudContainer>



	</DialogContent>
	<DialogActions>
	</DialogActions>
</MudDialog>

<style>
	.text-align {
		text-align: justify;
	}

	.btn-right {
		float: right;
		background-color: #ff7800;
		color: white
	}

		.btn-right:hover {
			background-color: white;
			color: #ff7800
		}

	.heading {
		color: #130f40 !important;
		font-family: Impact, Haettenschweiler, sans-serif !important;
	}

		.heading span {
			color: #ff7800;
		}

	body {
		background-color: #fffdf7;
	}
</style>

@code {
	[CascadingParameter] MudDialogInstance MudDialog { get; set; }

	void Cancel() => MudDialog.Cancel();
}
<style>
	@@media (min-width: 768px) and (max-width: 1023px) {
		.heightdialog {
			max-height: 800px;
		}
	}

	@@media (min-width: 360px) and (max-width: 767px) {
		.heightdialog {
			width: 90%;
			max-height: 500px;
		}
	}

	@@media (min-width: 279px) and (max-width: 359px) {
		.heightdialog {
			width: 90%;
			max-height: 500px
		}
	}
</style>